In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("MyApp").getOrCreate()

23/11/07 21:51:36 WARN Utils: Your hostname, DESKTOP-TCH95BD resolves to a loopback address: 127.0.1.1; using 192.168.233.120 instead (on interface eth0)
23/11/07 21:51:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/07 21:51:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# Infos fato_Filmes

In [4]:
fatos_filmes = spark.read.parquet("file:/home/hadoop/imdb/refined/fato_filmes/*.parquet")
fatos_filmes.printSchema()
fatos_filmes.show(10)
contagem_de_dados = fatos_filmes.count()
contagem_de_colunas = len(fatos_filmes.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

root
 |-- id_filme: string (nullable = true)
 |-- id_nome: string (nullable = true)
 |-- titulo: string (nullable = true)
 |-- lancamento: string (nullable = true)
 |-- duracao_filme: string (nullable = true)
 |-- genero: string (nullable = true)

+---------+---------+--------------------+----------+-------------+--------------------+
| id_filme|  id_nome|              titulo|lancamento|duracao_filme|              genero|
+---------+---------+--------------------+----------+-------------+--------------------+
|tt0063803|nm0000217|Who's That Knocki...|      1967|           90|               Drama|
|tt0063803|nm1058895|Who's That Knocki...|      1967|           90|               Drama|
|tt0068309|nm0718639|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0068309|nm0181020|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0068309|nm0181019|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0070379|nm0000217|        Mean Streets|      1973|          112|Crime,Drama,Thriller|
|tt0070379|nm0552731|        Mean Streets|      1973|          112|Crime,Drama,Thriller|
|tt0071115|nm0315205|Alice Doesn't Liv...|      1974|          112|       Drama,Romance|
|tt0075314|nm0001707|         Taxi Driver|      1976|          114|         Crime,Drama|
|tt0076451|nm0711996|  New York, New York|      1977|          155| Drama,Music,Musical|
+---------+---------+--------------------+----------+-------------+--------------------+
only showing top 10 rows

O DataFrame tem 6 colunas.
O DataFrame tem 49 linhas (dados).

In [3]:
basicos_filmes = spark.read.parquet("file:/home/hadoop/imdb/parquet/basico_filmes_drama/2023/11/01/*.parquet")
basicos_filmes.printSchema()
basicos_filmes.show(10)
contagem_de_dados = basicos_filmes.count()
contagem_de_colunas = len(basicos_filmes.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

root
 |-- id_filme: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- titulo: string (nullable = true)
 |-- titulo_original: string (nullable = true)
 |-- adulto: string (nullable = true)
 |-- lancamento: string (nullable = true)
 |-- fim_lancamento: string (nullable = true)
 |-- duracao_filme: string (nullable = true)
 |-- genero: string (nullable = true)

+---------+-----+--------------------+--------------------+------+----------+--------------+-------------+---------------+
| id_filme| tipo|              titulo|     titulo_original|adulto|lancamento|fim_lancamento|duracao_filme|         genero|
+---------+-----+--------------------+--------------------+------+----------+--------------+-------------+---------------+
|tt0000591|movie|    The Prodigal Son|   L'enfant prodigue|     0|      1907|            \N|           90|          Drama|
|tt0000615|movie|  Robbery Under Arms|  Robbery Under Arms|     0|      1907|            \N|           \N|          Drama|
|tt0000630|movie|              Hamlet|              Amleto|     0|      1908|            \N|           \N|          Drama|
|tt0000675|movie|         Don Quijote|         Don Quijote|     0|      1908|            \N|           \N|          Drama|
|tt0000886|movie|Hamlet, Prince of...|              Hamlet|     0|      1910|            \N|           \N|          Drama|
|tt0000941|movie|      Locura de amor|      Locura de amor|     0|      1909|            \N|           45|          Drama|
|tt0001049|movie|      Gøngehøvdingen|      Gøngehøvdingen|     0|      1909|            \N|           \N|      Drama,War|
|tt0001112|movie|              Amleto|              Amleto|     0|      1910|            \N|           \N|          Drama|
|tt0001175|movie|             Camille|La dame aux camélias|     0|      1912|            \N|           \N|  Drama,Romance|
|tt0001184|movie|Don Juan de Serra...|Don Juan de Serra...|     0|      1910|            \N|           58|Adventure,Drama|
+---------+-----+--------------------+--------------------+------+----------+--------------+-------------+---------------+
only showing top 10 rows

O DataFrame tem 9 colunas.
O DataFrame tem 238636 linhas (dados).

In [ ]:
# Infos Diretores e Escritores

In [3]:
diretores_escritores = spark.read.parquet("file:/home/hadoop/imdb/parquet/diretores_escritores/2023/11/01/*.parquet")

contagem_de_dados = diretores_escritores.count()
contagem_de_colunas = len(diretores_escritores.columns)

diretores_escritores.printSchema()
diretores_escritores.show(10)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

root
 |-- id_filme: string (nullable = true)
 |-- diretores: string (nullable = true)
 |-- escritores: string (nullable = true)

+---------+-------------------+----------+
| id_filme|          diretores|escritores|
+---------+-------------------+----------+
|tt0000001|          nm0005690|        \N|
|tt0000002|          nm0721526|        \N|
|tt0000003|          nm0721526|        \N|
|tt0000004|          nm0721526|        \N|
|tt0000005|          nm0005690|        \N|
|tt0000006|          nm0005690|        \N|
|tt0000007|nm0005690,nm0374658|        \N|
|tt0000008|          nm0005690|        \N|
|tt0000009|          nm0085156| nm0085156|
|tt0000010|          nm0525910|        \N|
+---------+-------------------+----------+
only showing top 10 rows

O DataFrame tem 3 colunas.
O DataFrame tem 10265844 linhas (dados).

In [ ]:
# JOIN entre info_filmes e info_diretores_escritores

In [4]:
basicos_filmes.createOrReplaceTempView("info_filmes")
diretores_escritores.createOrReplaceTempView("info_diretores_escritores")


filmes_martin_sql = """
SELECT
    f.id_filme,
    f.titulo,
    f.lancamento,
    f.duracao_filme,
    f.genero,
    de.escritores
FROM
    info_filmes f
JOIN
    info_diretores_escritores de
ON
    f.id_filme = de.id_filme
WHERE
    de.diretores = 'nm0000217'
"""

filmes_diretores_escritores = spark.sql(filmes_martin_sql)

# removendo o id do filme Roosevelt pois ainda está em produção

id_filme_a_remover = 'tt7428530'

filmes_diretores_escritores = filmes_diretores_escritores.filter(filmes_diretores_escritores["id_filme"] != id_filme_a_remover)

filmes_diretores_escritores.show(30)

# contagem de colunas

contagem_de_dados = filmes_diretores_escritores.count()
contagem_de_colunas = len(filmes_diretores_escritores.columns)

print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

+---------+--------------------+----------+-------------+--------------------+--------------------+
| id_filme|              titulo|lancamento|duracao_filme|              genero|          escritores|
+---------+--------------------+----------+-------------+--------------------+--------------------+
|tt0063803|Who's That Knocki...|      1967|           90|               Drama| nm0000217,nm1058895|
|tt0068309|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|nm0718639,nm01810...|
|tt0070379|        Mean Streets|      1973|          112|Crime,Drama,Thriller| nm0000217,nm0552731|
|tt0071115|Alice Doesn't Liv...|      1974|          112|       Drama,Romance|           nm0315205|
|tt0075314|         Taxi Driver|      1976|          114|         Crime,Drama|           nm0001707|
|tt0076451|  New York, New York|      1977|          155| Drama,Music,Musical| nm0711996,nm0552731|
|tt0081398|         Raging Bull|      1980|          129|Biography,Drama,S...|nm0483766,nm01417...|
|tt0085794|  The King of Comedy|      1982|          109|  Comedy,Crime,Drama|           nm0956857|
|tt0088680|         After Hours|      1985|           97|  Comedy,Crime,Drama|           nm0591387|
|tt0090863|  The Color of Money|      1986|          119|         Drama,Sport| nm0856677,nm0697115|
|tt0095497|The Last Temptati...|      1988|          164|               Drama| nm0443611,nm0001707|
|tt0099685|          Goodfellas|      1990|          145|Biography,Crime,D...| nm0683380,nm0000217|
|tt0106226|The Age of Innocence|      1993|          139|       Drama,Romance|nm0923585,nm01683...|
|tt0112641|              Casino|      1995|          178|         Crime,Drama| nm0683380,nm0000217|
|tt0119485|              Kundun|      1997|          134|Biography,Drama,H...|           nm0558953|
|tt0163988|Bringing Out the ...|      1999|          121|      Drama,Thriller| nm0175081,nm0001707|
|tt0217505|   Gangs of New York|      2002|          167|         Crime,Drama|nm0168379,nm00018...|
|tt0338751|         The Aviator|      2004|          170|     Biography,Drama|           nm0517589|
|tt0407887|        The Departed|      2006|          151|Crime,Drama,Thriller|nm1184258,nm05383...|
|tt0490215|             Silence|      2016|          161|       Drama,History|nm0168379,nm00002...|
|tt0970179|                Hugo|      2011|          126|Adventure,Drama,F...| nm0517589,nm2561765|
|tt1302006|        The Irishman|      2019|          209|Biography,Crime,D...| nm0001873,nm3153307|
|tt5537002|Killers of the Fl...|      2023|          206| Crime,Drama,History|nm0744839,nm00002...|
+---------+--------------------+----------+-------------+--------------------+--------------------+

O DataFrame tem 6 colunas.
O DataFrame tem 23 linhas (dados).

In [ ]:
# Transformando a coluna escritores, usando split e explode para gerar atomicidade

In [7]:
from pyspark.sql.functions import split, col, explode

# dividir a coluna 'id_filme' em uma lista de valores

filmes_diretores_escritores = filmes_diretores_escritores.withColumnRenamed("escritores", "id_nome")

filmes_diretores_escritores = filmes_diretores_escritores.withColumn("id_nome", split(col("id_nome"), ","))

# explode para criar uma linha para cada valor na lista 'id_filme'

filmes_diretores_escritores_exploded = filmes_diretores_escritores.withColumn("id_nome", explode(col("id_nome")))

# contagem de colunas

contagem_de_dados = filmes_diretores_escritores_exploded.count()
contagem_de_colunas = len(filmes_diretores_escritores_exploded.columns)

filmes_diretores_escritores_exploded.show(10)

print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

+---------+--------------------+----------+-------------+--------------------+---------+
| id_filme|              titulo|lancamento|duracao_filme|              genero|  id_nome|
+---------+--------------------+----------+-------------+--------------------+---------+
|tt0063803|Who's That Knocki...|      1967|           90|               Drama|nm0000217|
|tt0063803|Who's That Knocki...|      1967|           90|               Drama|nm1058895|
|tt0068309|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|nm0718639|
|tt0068309|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|nm0181020|
|tt0068309|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|nm0181019|
|tt0070379|        Mean Streets|      1973|          112|Crime,Drama,Thriller|nm0000217|
|tt0070379|        Mean Streets|      1973|          112|Crime,Drama,Thriller|nm0552731|
|tt0071115|Alice Doesn't Liv...|      1974|          112|       Drama,Romance|nm0315205|
|tt0075314|         Taxi Driver|      1976|          114|         Crime,Drama|nm0001707|
|tt0076451|  New York, New York|      1977|          155| Drama,Music,Musical|nm0711996|
+---------+--------------------+----------+-------------+--------------------+---------+
only showing top 10 rows

O DataFrame tem 6 colunas.
O DataFrame tem 49 linhas (dados).

In [ ]:
# CRIANDO UMA TABELA FATO_FILMES COM ESSAS TRANSFORMAÇÕES

In [8]:
filmes_diretores_escritores_exploded.createOrReplaceTempView("fato_filmes")

fato_filmes_sql = """
SELECT
    id_filme,
    id_nome,
    titulo,
    lancamento,
    duracao_filme,
    genero

FROM
    fato_filmes
"""

fato_filmes = spark.sql(fato_filmes_sql)

contagem_de_dados = fato_filmes.count()
contagem_de_colunas = len(fato_filmes.columns)

print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

fato_filmes.show(50)

O DataFrame tem 6 colunas.
O DataFrame tem 49 linhas (dados).

+---------+---------+--------------------+----------+-------------+--------------------+
| id_filme|  id_nome|              titulo|lancamento|duracao_filme|              genero|
+---------+---------+--------------------+----------+-------------+--------------------+
|tt0063803|nm0000217|Who's That Knocki...|      1967|           90|               Drama|
|tt0063803|nm1058895|Who's That Knocki...|      1967|           90|               Drama|
|tt0068309|nm0718639|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0068309|nm0181020|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0068309|nm0181019|       Boxcar Bertha|      1972|           88| Crime,Drama,Romance|
|tt0070379|nm0000217|        Mean Streets|      1973|          112|Crime,Drama,Thriller|
|tt0070379|nm0552731|        Mean Streets|      1973|          112|Crime,Drama,Thriller|
|tt0071115|nm0315205|Alice Doesn't Liv...|      1974|          112|       Drama,Romance|
|tt0075314|nm0001707|         Taxi Driver|      1976|          114|         Crime,Drama|
|tt0076451|nm0711996|  New York, New York|      1977|          155| Drama,Music,Musical|
|tt0076451|nm0552731|  New York, New York|      1977|          155| Drama,Music,Musical|
|tt0081398|nm0483766|         Raging Bull|      1980|          129|Biography,Drama,S...|
|tt0081398|nm0141734|         Raging Bull|      1980|          129|Biography,Drama,S...|
|tt0081398|nm0678014|         Raging Bull|      1980|          129|Biography,Drama,S...|
|tt0081398|nm0001707|         Raging Bull|      1980|          129|Biography,Drama,S...|
|tt0081398|nm0552731|         Raging Bull|      1980|          129|Biography,Drama,S...|
|tt0085794|nm0956857|  The King of Comedy|      1982|          109|  Comedy,Crime,Drama|
|tt0088680|nm0591387|         After Hours|      1985|           97|  Comedy,Crime,Drama|
|tt0090863|nm0856677|  The Color of Money|      1986|          119|         Drama,Sport|
|tt0090863|nm0697115|  The Color of Money|      1986|          119|         Drama,Sport|
|tt0095497|nm0443611|The Last Temptati...|      1988|          164|               Drama|
|tt0095497|nm0001707|The Last Temptati...|      1988|          164|               Drama|
|tt0099685|nm0683380|          Goodfellas|      1990|          145|Biography,Crime,D...|
|tt0099685|nm0000217|          Goodfellas|      1990|          145|Biography,Crime,D...|
|tt0106226|nm0923585|The Age of Innocence|      1993|          139|       Drama,Romance|
|tt0106226|nm0168379|The Age of Innocence|      1993|          139|       Drama,Romance|
|tt0106226|nm0000217|The Age of Innocence|      1993|          139|       Drama,Romance|
|tt0112641|nm0683380|              Casino|      1995|          178|         Crime,Drama|
|tt0112641|nm0000217|              Casino|      1995|          178|         Crime,Drama|
|tt0119485|nm0558953|              Kundun|      1997|          134|Biography,Drama,H...|
|tt0163988|nm0175081|Bringing Out the ...|      1999|          121|      Drama,Thriller|
|tt0163988|nm0001707|Bringing Out the ...|      1999|          121|      Drama,Thriller|
|tt0217505|nm0168379|   Gangs of New York|      2002|          167|         Crime,Drama|
|tt0217505|nm0001873|   Gangs of New York|      2002|          167|         Crime,Drama|
|tt0217505|nm0518836|   Gangs of New York|      2002|          167|         Crime,Drama|
|tt0338751|nm0517589|         The Aviator|      2004|          170|     Biography,Drama|
|tt0407887|nm1184258|        The Departed|      2006|          151|Crime,Drama,Thriller|
|tt0407887|nm0538320|        The Departed|      2006|          151|Crime,Drama,Thriller|
|tt0407887|nm0159039|        The Departed|      2006|          151|Crime,Drama,Thriller|
|tt0490215|nm0168379|             Silence|      2016|          161|       Drama,History|
|tt0490215|nm0000217|             Silence|      2016|          161|       Drama,History|
|tt0490215|nm0256870|             Silence|      2016|          161|       Drama,History|
|tt0970179|nm0517589|                Hugo|      2011|          126|Adventure,Drama,F...|
|tt0970179|nm2561765|                Hugo|      2011|          126|Adventure,Drama,F...|
|tt1302006|nm0001873|        The Irishman|      2019|          209|Biography,Crime,D...|
|tt1302006|nm3153307|        The Irishman|      2019|          209|Biography,Crime,D...|
|tt5537002|nm0744839|Killers of the Fl...|      2023|          206| Crime,Drama,History|
|tt5537002|nm0000217|Killers of the Fl...|      2023|          206| Crime,Drama,History|
|tt5537002|nm2970418|Killers of the Fl...|      2023|          206| Crime,Drama,History|
+---------+---------+--------------------+----------+-------------+--------------------+

In [ ]:
# Exportando essa tabela para o Dashboard

In [29]:
from datetime import datetime

current_date = datetime.now().strftime("%Y/%m/%d")

# Definindo a variável do Output

output_path = f"file:/home/hadoop/imdb/refined/fato_filmes"

# Salvar o DataFrame como um arquivo Parquet

fato_filmes.coalesce(1).write.saveAsTable(name="fato_filmes",mode="overwrite",path=output_path,format="parquet")

print("Os dados foram salvos com sucesso como arquivo Parquet.")

Os dados foram salvos com sucesso como arquivo Parquet.

In [ ]:
# INFO colaboradores - dim_equipe_filmes

In [25]:
equipe = spark.read.parquet("file:/home/hadoop/imdb/parquet/info_colaboradores/2023/11/02/*.parquet")

contagem_de_dados = equipe.count()
contagem_de_colunas = len(equipe.columns)
# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

equipe.show(10)

O DataFrame tem 6 colunas.
O DataFrame tem 12954255 linhas (dados).
+---------+---------------+--------------------+--------------------+--------------+---------------+
|  id_nome|           nome| participacao_filmes| profissao_principal|ano_nascimento|ano_falecimento|
+---------+---------------+--------------------+--------------------+--------------+---------------+
|nm0000001|   Fred Astaire|tt0072308,tt00319...|soundtrack,actor,...|          1899|           1987|
|nm0000002|  Lauren Bacall|tt0038355,tt01170...|  actress,soundtrack|          1924|           2014|
|nm0000003|Brigitte Bardot|tt0054452,tt00564...|actress,soundtrac...|          1934|        vivo(a)|
|nm0000004|   John Belushi|tt0072562,tt00804...|actor,soundtrack,...|          1949|           1982|
|nm0000005| Ingmar Bergman|tt0050986,tt00839...|writer,director,a...|          1918|           2007|
|nm0000006| Ingrid Bergman|tt0034583,tt00368...|actress,soundtrac...|          1915|           1982|
|nm0000007|Humphrey Bogart|tt0042593,tt00432...|actor,soundtrack,...|          1899|           1957|
|nm0000008|  Marlon Brando|tt0078788,tt00708...|actor,soundtrack,...|          1924|           2004|
|nm0000009| Richard Burton|tt0061184,tt00578...|actor,soundtrack,...|          1925|           1984|
|nm0000010|   James Cagney|tt0029870,tt00420...|actor,soundtrack,...|          1899|           1986|
+---------+---------------+--------------------+--------------------+--------------+---------------+
only showing top 10 rows

In [ ]:
# algumas transformações

In [26]:
from pyspark.sql.functions import split, col, explode

# dividir a coluna 'id_filme' em uma lista de valores

equipe = equipe.withColumnRenamed("participacao_filmes", "id_filme")

contagem_de_dados = equipe.count()
contagem_de_colunas = len(equipe.columns)
# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

equipe.show(10)

O DataFrame tem 6 colunas.
O DataFrame tem 12954255 linhas (dados).
+---------+---------------+--------------------+--------------------+--------------+---------------+
|  id_nome|           nome|            id_filme| profissao_principal|ano_nascimento|ano_falecimento|
+---------+---------------+--------------------+--------------------+--------------+---------------+
|nm0000001|   Fred Astaire|tt0072308,tt00319...|soundtrack,actor,...|          1899|           1987|
|nm0000002|  Lauren Bacall|tt0038355,tt01170...|  actress,soundtrack|          1924|           2014|
|nm0000003|Brigitte Bardot|tt0054452,tt00564...|actress,soundtrac...|          1934|        vivo(a)|
|nm0000004|   John Belushi|tt0072562,tt00804...|actor,soundtrack,...|          1949|           1982|
|nm0000005| Ingmar Bergman|tt0050986,tt00839...|writer,director,a...|          1918|           2007|
|nm0000006| Ingrid Bergman|tt0034583,tt00368...|actress,soundtrac...|          1915|           1982|
|nm0000007|Humphrey Bogart|tt0042593,tt00432...|actor,soundtrack,...|          1899|           1957|
|nm0000008|  Marlon Brando|tt0078788,tt00708...|actor,soundtrack,...|          1924|           2004|
|nm0000009| Richard Burton|tt0061184,tt00578...|actor,soundtrack,...|          1925|           1984|
|nm0000010|   James Cagney|tt0029870,tt00420...|actor,soundtrack,...|          1899|           1986|
+---------+---------------+--------------------+--------------------+--------------+---------------+
only showing top 10 rows

In [ ]:
# USANDO EXPLODE PARA ATOMIZAR

In [27]:
from pyspark.sql.functions import split, col, explode

# dividir a coluna 'id_filme' em uma lista de valores

equipe = equipe.withColumn("id_filme", split(col("id_filme"), ","))

# explode para criar uma linha para cada valor na lista 'id_filme'

equipe_ok = equipe.withColumn("id_filme", explode(col("id_filme")))

contagem_de_dados = equipe_ok.count()
contagem_de_colunas = len(equipe_ok.columns)
# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

equipe_ok.show(10)

O DataFrame tem 6 colunas.
O DataFrame tem 22699736 linhas (dados).
+---------+---------------+---------+--------------------+--------------+---------------+
|  id_nome|           nome| id_filme| profissao_principal|ano_nascimento|ano_falecimento|
+---------+---------------+---------+--------------------+--------------+---------------+
|nm0000001|   Fred Astaire|tt0072308|soundtrack,actor,...|          1899|           1987|
|nm0000001|   Fred Astaire|tt0031983|soundtrack,actor,...|          1899|           1987|
|nm0000001|   Fred Astaire|tt0050419|soundtrack,actor,...|          1899|           1987|
|nm0000001|   Fred Astaire|tt0053137|soundtrack,actor,...|          1899|           1987|
|nm0000002|  Lauren Bacall|tt0038355|  actress,soundtrack|          1924|           2014|
|nm0000002|  Lauren Bacall|tt0117057|  actress,soundtrack|          1924|           2014|
|nm0000002|  Lauren Bacall|tt0075213|  actress,soundtrack|          1924|           2014|
|nm0000002|  Lauren Bacall|tt0037382|  actress,soundtrack|          1924|           2014|
|nm0000003|Brigitte Bardot|tt0054452|actress,soundtrac...|          1934|        vivo(a)|
|nm0000003|Brigitte Bardot|tt0056404|actress,soundtrac...|          1934|        vivo(a)|
+---------+---------------+---------+--------------------+--------------+---------------+
only showing top 10 rows

In [ ]:
# Join da equipe que trabalha nos filmes do martin

In [28]:
equipe_ok.createOrReplaceTempView("dim_equipe_filmes")
fatos_filmes.createOrReplaceTempView("fato_filmes")

dim_equipe_sql = """
SELECT
    f.id_filme,
    f.id_nome,
    f.titulo,
    de.nome,
    de.profissao_principal,
    de.ano_nascimento,
    de.ano_falecimento

FROM
    fato_filmes f
JOIN
    dim_equipe_filmes de
ON
    f.id_filme = de.id_filme
ORDER BY
    titulo
"""

dim_equipe_filmes = spark.sql(dim_equipe_sql)

dim_equipe_filmes.show()

contagem_de_dados = dim_equipe_filmes.count()
contagem_de_colunas = len(dim_equipe_filmes.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

+---------+---------+-----------+--------------------+--------------------+--------------+---------------+
| id_filme|  id_nome|     titulo|                nome| profissao_principal|ano_nascimento|ano_falecimento|
+---------+---------+-----------+--------------------+--------------------+--------------+---------------+
|tt0088680|nm0591387|After Hours|     Cuadro Flamenco|          soundtrack|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|  Elizabeth Benjamin|       miscellaneous|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|         Tommy Boyce|soundtrack,music_...|          1939|           1994|
|tt0088680|nm0591387|After Hours|Rosie & The Origi...|          soundtrack|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|         Verna Bloom|             actress|          1938|           2019|
|tt0088680|nm0591387|After Hours|The Academy of An...|soundtrack,music_...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Rosanna Arquette|actress,producer,...|          1959|        vivo(a)|
|tt0088680|nm0591387|After Hours|          Bad Brains|    soundtrack,actor|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Linda Fiorentino|  actress,soundtrack|          1958|        vivo(a)|
|tt0088680|nm0591387|After Hours|            Hy Weiss|          soundtrack|          1923|           2007|
|tt0088680|nm0591387|After Hours|Barbara Shulman B...|costume_departmen...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|         Rose Hamlin|          soundtrack|          1945|           2017|
|tt0088680|nm0591387|After Hours|    Jeffrey Townsend|production_design...|          1954|        vivo(a)|
|tt0088680|nm0591387|After Hours|     Robert & Johnny|soundtrack,music_...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|       Sarah M. Brim|assistant_directo...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Bomani Yusuf Ali|       miscellaneous|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Judith Lyn Brown|miscellaneous,pro...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Joel A. Blumenau|casting_departmen...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|      Victor Bumbalo|writer,actor,dire...|            \N|        vivo(a)|
|tt0088680|nm0591387|After Hours|    Henry Judd Baker|               actor|          1935|           2016|
+---------+---------+-----------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

O DataFrame tem 7 colunas.
O DataFrame tem 10080 linhas (dados).

In [ ]:
# Exportando essa tabela

In [29]:
from datetime import datetime

current_date = datetime.now().strftime("%Y/%m/%d")

# Definindo a variável do Output

output_path = f"file:/home/hadoop/imdb/refined/dim_equipe_filmes"

# Salvar o DataFrame como um arquivo Parquet

dim_equipe_filmes.coalesce(1).write.saveAsTable(name="dim_equipe_filmes",mode="overwrite",path=output_path,format="parquet")

print("Os dados foram salvos com sucesso como arquivo Parquet.")

Os dados foram salvos com sucesso como arquivo Parquet.

In [ ]:
# INFOS Filmes_atores

In [18]:
filme_ator = spark.read.parquet("file:/home/hadoop/imdb/parquet/filme_ator/2023/11/01/*.parquet")
filme_ator.printSchema()
filme_ator.show(10)
contagem_de_dados = filme_ator.count()
contagem_de_colunas = len(filme_ator.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

root
 |-- id_filme: string (nullable = true)
 |-- id_nome: string (nullable = true)
 |-- ordem: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- personagem: string (nullable = true)
 |-- trabalho: string (nullable = true)

+---------+---------+-----+---------------+----------+--------------------+
| id_filme|  id_nome|ordem|      categoria|personagem|            trabalho|
+---------+---------+-----+---------------+----------+--------------------+
|tt0000001|nm1588970|    1|           self|  ["Self"]|                  \N|
|tt0000001|nm0005690|    2|       director|        \N|                  \N|
|tt0000001|nm0374658|    3|cinematographer|        \N|director of photo...|
|tt0000002|nm0721526|    1|       director|        \N|                  \N|
|tt0000002|nm1335271|    2|       composer|        \N|                  \N|
|tt0000003|nm0721526|    1|       director|        \N|                  \N|
|tt0000003|nm1770680|    2|       producer|        \N|            producer|
|tt0000003|nm1335271|    3|       composer|        \N|                  \N|
|tt0000003|nm5442200|    4|         editor|        \N|                  \N|
|tt0000004|nm0721526|    1|       director|        \N|                  \N|
+---------+---------+-----+---------------+----------+--------------------+
only showing top 10 rows

O DataFrame tem 6 colunas.
O DataFrame tem 58797177 linhas (dados).

In [ ]:
# Join com Fato Filmes

In [19]:
filme_ator.createOrReplaceTempView("dim_atores")

dim_func_sql = """
SELECT
    f.id_filme,
    f.id_nome,
    f.titulo,
    de.ordem,
    de.categoria,
    de.personagem,
    de.trabalho

FROM
    fato_filmes f
JOIN
    dim_atores de
ON
    f.id_filme = de.id_filme
"""

# Agora você pode executar consultas SQL na tabela temporária
dim_atores = spark.sql(dim_func_sql)

contagem_de_dados = dim_atores.count()
contagem_de_colunas = len(dim_atores.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

dim_atores.show()

O DataFrame tem 7 colunas.
O DataFrame tem 488 linhas (dados).

+---------+---------+--------------------+-----+---------------+-----------------+--------------------+
| id_filme|  id_nome|              titulo|ordem|      categoria|       personagem|            trabalho|
+---------+---------+--------------------+-----+---------------+-----------------+--------------------+
|tt0063803|nm1058895|Who's That Knocki...|   10|cinematographer|               \N|director of photo...|
|tt0063803|nm0000217|Who's That Knocki...|   10|cinematographer|               \N|director of photo...|
|tt0063803|nm1058895|Who's That Knocki...|    1|          actor|         ["J.R."]|                  \N|
|tt0063803|nm0000217|Who's That Knocki...|    1|          actor|         ["J.R."]|                  \N|
|tt0063803|nm1058895|Who's That Knocki...|    2|        actress|         ["Girl"]|                  \N|
|tt0063803|nm0000217|Who's That Knocki...|    2|        actress|         ["Girl"]|                  \N|
|tt0063803|nm1058895|Who's That Knocki...|    3|        actress|["Girl in Dream"]|                  \N|
|tt0063803|nm0000217|Who's That Knocki...|    3|        actress|["Girl in Dream"]|                  \N|
|tt0063803|nm1058895|Who's That Knocki...|    4|          actor|         ["Joey"]|                  \N|
|tt0063803|nm0000217|Who's That Knocki...|    4|          actor|         ["Joey"]|                  \N|
|tt0063803|nm1058895|Who's That Knocki...|    5|       director|               \N|                  \N|
|tt0063803|nm0000217|Who's That Knocki...|    5|       director|               \N|                  \N|
|tt0063803|nm1058895|Who's That Knocki...|    6|         writer|               \N| additional dialogue|
|tt0063803|nm0000217|Who's That Knocki...|    6|         writer|               \N| additional dialogue|
|tt0063803|nm1058895|Who's That Knocki...|    7|       producer|               \N|            producer|
|tt0063803|nm0000217|Who's That Knocki...|    7|       producer|               \N|            producer|
|tt0063803|nm1058895|Who's That Knocki...|    8|       producer|               \N|            producer|
|tt0063803|nm0000217|Who's That Knocki...|    8|       producer|               \N|            producer|
|tt0063803|nm1058895|Who's That Knocki...|    9|cinematographer|               \N|director of photo...|
|tt0063803|nm0000217|Who's That Knocki...|    9|cinematographer|               \N|director of photo...|
+---------+---------+--------------------+-----+---------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
# EXPORTANDO TABELA

In [20]:
from datetime import datetime

current_date = datetime.now().strftime("%Y/%m/%d")

# Definindo a variável do Output

output_path = f"file:/home/hadoop/imdb/refined/dim_atores"

# Salvar o DataFrame como um arquivo Parquet

dim_atores.coalesce(1).write.saveAsTable(name="dim_atores",mode="overwrite",path=output_path,format="parquet")

print("Os dados foram salvos com sucesso como arquivo Parquet.")

Os dados foram salvos com sucesso como arquivo Parquet.

In [ ]:
# INFO FILMES_vOTOS

In [30]:
filmes_votos = spark.read.parquet("file:/home/hadoop/imdb/parquet/filmes_votos/2023/11/01/*.parquet")
filmes_votos.printSchema()
filmes_votos.show(10)
contagem_de_dados = filmes_votos.count()
contagem_de_colunas = len(filmes_votos.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

root
 |-- id_filme: string (nullable = true)
 |-- avaliacao_media: string (nullable = true)
 |-- total_votos: string (nullable = true)

+---------+---------------+-----------+
| id_filme|avaliacao_media|total_votos|
+---------+---------------+-----------+
|tt0000001|            5.7|       2003|
|tt0000002|            5.8|        269|
|tt0000003|            6.5|       1898|
|tt0000004|            5.5|        178|
|tt0000005|            6.2|       2682|
|tt0000006|            5.0|        183|
|tt0000007|            5.4|        839|
|tt0000008|            5.4|       2147|
|tt0000009|            5.3|        207|
|tt0000010|            6.9|       7331|
+---------+---------------+-----------+
only showing top 10 rows

O DataFrame tem 3 colunas.
O DataFrame tem 1363146 linhas (dados).

In [ ]:
# join com fatos fillmes

In [31]:
filmes_votos.createOrReplaceTempView("dim_popularidade")

dim_votos_sql = """
SELECT
    f.id_filme,
    f.id_nome,
    f.titulo,
    de.avaliacao_media,
    de.total_votos
    
FROM
    fato_filmes f
JOIN
    dim_popularidade de
ON
    f.id_filme = de.id_filme
"""

dim_popularidade = spark.sql(dim_votos_sql)

contagem_de_dados = dim_popularidade.count()
contagem_de_colunas = len(dim_popularidade.columns)

# contagem de colunas
print(f"O DataFrame tem {contagem_de_colunas} colunas.")

# contagem de linhas
print(f"O DataFrame tem {contagem_de_dados} linhas (dados).")

dim_popularidade.show()

O DataFrame tem 5 colunas.
O DataFrame tem 49 linhas (dados).
+---------+---------+--------------------+---------------+-----------+
| id_filme|  id_nome|              titulo|avaliacao_media|total_votos|
+---------+---------+--------------------+---------------+-----------+
|tt0063803|nm1058895|Who's That Knocki...|            6.6|       9794|
|tt0063803|nm0000217|Who's That Knocki...|            6.6|       9794|
|tt0068309|nm0181019|       Boxcar Bertha|            6.0|      10493|
|tt0068309|nm0181020|       Boxcar Bertha|            6.0|      10493|
|tt0068309|nm0718639|       Boxcar Bertha|            6.0|      10493|
|tt0070379|nm0552731|        Mean Streets|            7.2|     116098|
|tt0070379|nm0000217|        Mean Streets|            7.2|     116098|
|tt0071115|nm0315205|Alice Doesn't Liv...|            7.3|      26062|
|tt0075314|nm0001707|         Taxi Driver|            8.2|     890607|
|tt0076451|nm0552731|  New York, New York|            6.6|      21337|
|tt0076451|nm0711996|  New York, New York|            6.6|      21337|
|tt0081398|nm0552731|         Raging Bull|            8.1|     370832|
|tt0081398|nm0001707|         Raging Bull|            8.1|     370832|
|tt0081398|nm0678014|         Raging Bull|            8.1|     370832|
|tt0081398|nm0141734|         Raging Bull|            8.1|     370832|
|tt0081398|nm0483766|         Raging Bull|            8.1|     370832|
|tt0085794|nm0956857|  The King of Comedy|            7.8|     113930|
|tt0088680|nm0591387|         After Hours|            7.6|      77052|
|tt0090863|nm0697115|  The Color of Money|            7.0|      90916|
|tt0090863|nm0856677|  The Color of Money|            7.0|      90916|
+---------+---------+--------------------+---------------+-----------+
only showing top 20 rows

In [ ]:
# exportando

In [32]:
from datetime import datetime
current_date = datetime.now().strftime("%Y/%m/%d")

# Definindo a variável do Output

output_path = f"file:/home/hadoop/imdb/refined/dim_popularidade"

# Salvar o DataFrame como um arquivo Parquet

dim_popularidade.coalesce(1).write.saveAsTable(name="dim_popularidade",mode="overwrite",path=output_path,format="parquet")

print("Os dados foram salvos com sucesso como arquivo Parquet.")

Os dados foram salvos com sucesso como arquivo Parquet.